# Debian mailisting configuration params
index_url: https://lists.debian.org/completeindex.html

# Crawl and download all sections
download_all: False
# If `download_all' is False then it only downloads emails from the following section
section_download:
  - debian-cdwrite
  - debian-admin
  - debian-cli
  - debian-desktop
  - debian-devel
  - debian-gcc
  - debian-kernel
  - debian-legal
  - debian-mirrors
  - debian-news
  - debian-vote

# debug
debug: True

